<!DOCTYPE html>
<html lang="ru" data-theme="{% if user.theme %}dark{% else %}light{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля | CryptoBotHub</title>
    {% load static %}  
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">

    <link rel="stylesheet" href="{% static '/users/css/base.css' %}">
    <link rel="stylesheet" href="{% static '/users/css/components.css' %}">
    <link rel="stylesheet" href="{% static '/users/css/pages/auth.css' %}">
</head>
<body>
    <div class="container">
        <div class="auth-card">
            <h1 class="logo">CryptoBotHub</h1>
            <p class="subtitle">Введите email для восстановления доступа</p>

            <form class="auth-form" method="post">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Введите ваш email" required value="{{ form.email.value|default_if_none:'' }}">
                    {% if form.email.errors %}
                        <div class="error">{{ form.email.errors }}</div>
                    {% endif %}
                </div>


                <button type="submit" class="btn btn-primary">Отправить код</button>
            </form>

            <div class="register-link">
                <a href="{% url 'login' %}">Назад</a>
            </div>
        </div>
    </div>
</body>
</html>
